<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="https://kit.fontawesome.com/ddb16e3944.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- <h1>hhh</h1> -->
    <div id="app">
        <div id="heading" class='items' >
          <h1 id='icon' class="fas fa-list-alt"></h1>
            <h1 id='Todo'> To-do App</h1>
        </div>
        <div id='form-grid'>
            <form id="form_1"action="Create_job" method="Post">
                <div id='Description' >
                  <label for="Description" style="color: aliceblue;">Task</label>
                  <input  class='items' type="text" name="Description" placeholder="Description" >
                </div>
                
                <div id='Category' class='items'>
                  <label for="category" style="color: aliceblue;">select category</label>
                  <select name="category"  placeholder="Category" style="margin-left: 20px;">
                    <optgroup style="font-family:Bradley Hand, cursive">
                    <option  id="1"  value="" disabled selected >Category</option>
                    <option id="3"  value="Personal">Personal</option>
                    <option id="4" value="work">work</option>
                    <option id="5" value="School">School</option>
                    <option id="6" value="other">other</option>
                  </optgroup>
                  </select>
                </div>
                
                <div id='datepicker' class='items'>
                  <label for="datepicker" style="color: aliceblue;">select date</label>
                  <input  class='items' type="text" id='date' name="date" placeholder="select date ">
                </div>

                <div id='add' class='items'>
                  <button type="submit" id='add_Task' class="fas fa-plus-square" ><h>Add Task</h></button>
                  <!-- <button id='delete_Task'>Delete Task</button> -->
                    </div>  

            </form>
        </div>
        
      <div id="form_2">
        <form action="delete-task" method="POST" id="form_21" >
            <div id='Delete' class='items'>
            <button id='Delete-button' type="submit" ><i class="fas fa-trash-alt"></i>delete</button>
            </div>
        
        
        
          <div id='task_display' class='items'>
            
            <ul>
              
               <% for(let i of task_list) { %>
                <!-- <div id=task>   -->
                  
                  <li>
                    <div id='task'>  
                      <div id='task-content'>
                        
                        <div id='Description-div'> 
                          <!-- <h id='task-description'>Task</h><br> -->
                          <h id='task-description'><%= i.Description %></h>
                        </div>
                        <div id='category-div'><B><%= i.category %></B></div>
                        <div id='date-div'> <i class="fas fa-clock"></i> <%= i.date %></div>
                      </div>

                      <div id='checkbox-div'>
                        <input id='checkbox' type="checkbox" name='delete' value="<%= i._id %>"> <p id='checkbox-item'>Click to delete the task</p>
                      </div>    
                      </div>
                            

                        
                    </li>
                   
                    <% } %>
                   
            </ul>
           
        </div>
        </form>
        </div>  

    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js" integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k=" crossorigin="anonymous"></script>
    <script>
        $('#date').datepicker({
            
        });

       
        let a=document.getElementById("checkbox");
        console.log(a);
        // if(a.checked == true){
        //   alert('hh');
        // }
        a.addEventListener("click",function(){
          if(a.checked == true){
            let b=document.getElementById('checkbox-item');
            console.log(b);
          }
        })

        // alert('jhh');

    // $(document).ready(function() {
    // $('select[name=category] option[id=1]').text('Category');
    //   });
    // $('select[name=category] option[id=1]').text.css({
    //   "background-color": 'green',});
    </script>
</body>



</html>